*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../Imagenes/fondo.jpg);
}

.Registro{
    width: 500px;
    background: #bc13fe;
    padding: 9px;
    margin: auto;
    margin-top: 100px;
    border: 14px;
    font-family: inherit;
    color: white;
    box-shadow: 5px 15px 26px black;
}
::placeholder{
    color: white
}

.Registro h2 {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

.Registro h3 {
    font-size: 17px;
    margin-bottom: 5px;
    text-align: center;
}

.Registro .Cuadro {
    width: 100%;
    background: #bc13fe;
    border-radius: 20px;
    margin-bottom: 9px;
    padding: 2px;
    border: 3px solid #0088ff;
    font-family:"Calibri";
    font-size: 22px;
    color: rgb(12, 12, 12);
    text-align: left;
}

.Registro label{
font-size: 23px;
font-family: "Calibri";
}

.Registro input[type="date"]{
background: #9a5bff;
margin-bottom: 7px;
padding: 2px;
border: 3px solid #0088ff;
}

.Registro input[type="date"]:hover{
    background: #0088ff;
    cursor: pointer;
   
}


.Registro .Sexo {
    width: 100px;
    font-size: 25px;
    font-family: "Calibri";
}

.Registro .Opciones{
    width: 30px;
    background: royalblue;
    font-size: 20px;
    
}

.Registro input[type="button"]:focus{
    background:#0088ff ;
    width: 150px;

}


.Registro .Registrar{
    font-size: 20px;
    text-align: center;
    color: white;
    background: black;
    border: 0;
    margin: 10px 0px;
    padding: 10px;
    border: 3px solid #2ecc71;
    border-radius: 10px;
    display: block;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
}
