* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background: url(../Imagenes/image.jpg);
    /* background-repeat: no-repeat; */
    /* background-size: cover;     */
}


.form-register{
    width: 400px;
    background: #422365;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "Calibri";
    color: white;
    box-shadow: 9px 19px 38px #000;
}

.form-register h2{
    font-size: 28px;
    margin-bottom: 22px;
}
.control {
    width: 100%;
    background: #422365;
    padding: 10px;
    border-radius: 14px;
    margin-bottom: 16px;
    border: 2px solid #191b77;
    font-family: "Calibri";
    font-size: 18px;
    color: white;
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}

.form-register a{
    color: white;
    text-decoration: none;
   
}


.form-register a:hover{
    color: #191b77;
    text-decoration: underline;
}

.form-register .boton {
    width: 100%;
    background: #191b77;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 20px;
    
}
